@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.h4 {
    background-color: pink;
    height: 100vh;
}

.h2 {
    color: white;
    padding-top: 10px;
    padding-left: 10vh;
    font-size: 45px;
    font-style: "Roboto";
}

.h5 {
    background-color: white;
    height: 70vh;
    margin-left: 20px;
    margin-right: 20px;
    width: 55vh;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.h6 {
    color: black;
    padding: 4vh;
    font-size: 35px;
    font-family: Breeserif;
}

.p2 {
    color: red;
    margin-left: 20px;
}